.tmp/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
projttgs/assets/
assets/
projttgs/ttgen/migrations/
ttgen/migrations/
migrations/
db.sqlite3
*.gz
*.br
.env
Scheduler_UI/projttgs/.env